.titlestories {
    position: relativew;
    font-size: 18px !important;
    font-weight: 700;
    color: #393b44;
    opacity: 1;
    margin-left: 14px;
}

.carrusel {
    display: flex;
    overflow: scroll;
}

.stories-image {
    width: 192px;
    height: 103px;
    cursor: pointer;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0px 5px 20px #81818129;
    object-fit: cover;
}

.container-stories {
    column-gap: 1.125rem;
    row-gap: 1.16rem;
    justify-content: center;
}